<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectBuf</title>
</head>
<body>
    <h1>Hello world</h1>
    <p><a href={{url_for("usuario")}}> Cadastro Usuario</a></p>
    <p><a href={{url_for("login")}}> Login do usuario</a></p>
    <p><a href={{url_for("cadAnun")}}> Cadastro Anuncio</a></p>
    <p><a href={{url_for("anunCat")}}> Anuncio categoria</a></p>
    <p><a href={{url_for("pergAnun")}}> pergunta no anuncio</a></p>
    <p><a href={{url_for("respostAnun")}}> resposta proprietário do anuncio </a></p>
    <p><a href={{url_for("anunComp")}}> anuncio compra </a></p>
    <p><a href={{url_for("anunFavo")}}> anuncio favorito </a></p>
    <p><a href={{url_for("relaVend")}}> relatorio de vendas </a></p>
    <p><a href={{url_for("relaCompr")}}> relatorio de compra</a></p>
</body>
</html>