<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>AnuncioPergunta</title>
</head>
<body>
    <main class="container">
        <h1>Seja bem vindo</h1>
        <form action="/anunc/pergunta/resposta/{{pergunta.id}}" method="post">
            <div class="form-group">
                <label>Pergunta: {{pergunta.pergunta}}</label>
            </div>
            <div class="form-group">
                <label for="resposta">Digite sua resposta</label>
                <textarea class="form-control" id="reposta" name="resposta" placeholder="Escreva sua resposta aqui" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Usuário: {{pergunta.usu_id}}</label>
            </div>
            <div class="form-group">
                <label>Anuncio: {{pergunta.anuncio_id}}</label>
            </div>
            <div style=" text-align: center;">
                <input style="text-align: center;" type="submit" value="responder" class="btn btn-info">
            </div>
        </form>      
    </main>
</body>
</html>